name: Semver Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  packages: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      # use fork to work around https://github.com/googleapis/release-please/issues/2265
      - uses: gvillo/release-please-action@93642002875a0df65de8abeeeabcaeacb7c735f4
        id: release
        with:
          release-type: simple
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}

  build-and-push-docker:
    runs-on: ubuntu-latest
    needs: [release-please]
    if: needs.release-please.outputs.release_created == 'true'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Build and push Docker image
        id: push
        uses: revotale/docker-multi-arch-release-action@v1.1.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          image-name: ${{ github.repository }}
          password: ${{ secrets.GITHUB_TOKEN }}
          tags: |
            ${{ needs.release-please.outputs.tag_name }}
            latest
          platforms: linux/amd64,linux/arm64
